
.circle-1 {
  position: absolute;
  width: 10rem;
  height: 10rem;
  left: 0rem;
  top: 20.3125rem;
  background: var(--pale-pink);
  border-radius: 50%;

  animation: moving 5s linear infinite;
}

@keyframes moving {
  0%{
    left: 0rem;
    top: 20.3125rem;
  }

  25% {
    right: 5.9375rem;
    top: 19rem;
  }

  50% {
    right: 7.9375rem;
    top: 17rem;
  }
  75%{
    right: 8.9375rem;
    top: 15rem;
  }

  100%{
    top: 11rem;
  }

  125%{
    top: 8rem;
  }

  150%{
    top: 5rem;
  }
}

.circle-2,
.circle-3 {
  position: absolute;
  width: 26.25rem;
  height: 26.25rem;
  border-radius: 50%;
  background: var(--pale-pink);
}
.circle-2 {
  left: 51.625rem;
  top: 11.6875rem;
  background: radial-gradient(circle, rgba(255,82,82,0.003) 59%, rgba(220,87,87,1) 100%);
}

.circle-3 {
  left: 57.5625rem;
  top: 18.0625rem;
}

.circle-4 {
  position: absolute;
  width: 25.3125rem;
  height: 25.3125rem;
  right: 2.5rem;
  top: 14.25rem;
  border-radius: 50%;
  border: 0.25rem dashed rgba(86, 22, 238, 0.2);
}
.circle-5 {
  position: absolute;
  width: 5rem;
  height: 5rem;
  left: 44.625rem;
  top: 22.75rem;
  border-radius: 50%;
  background: var(--pale-pink);
  animation: moving2 5s linear infinite;
}


@keyframes moving2 {
    0%{
        left: 44.625rem;
        top: 22.75rem;
    }
  
    25% {
        left: 45.625rem;
        top: 22.75rem;
    }
  
    50% {
        left: 47.625rem;
        bottom: 20.75rem;
    }
    75%{
        left: 49.625rem;
        top: 22.75rem;
    }

    100%{
        left: 51.625rem;
  top: 22.75rem;
    }
  }



.circle-6 {
  position: absolute;
  width: 18.0625rem;
  height: 16.1875rem;
  left: 19.625rem;
  border-radius: 50%;
  border: 0.25rem dashed rgba(86, 22, 238, 0.15);
}