.circle-1 {
  position: absolute;
  width: 6rem;
  height: 6rem;
  right: 26rem;
  top: 25.3125rem;
  background: rgb(255,82,82);
  background: linear-gradient(0deg, rgba(255,82,82,0.742734593837535) 0%, rgba(255,82,86,0.11808473389355745) 100%);  border-radius: 50%;

  animation: moving 12s ease infinite;
}

@keyframes moving {
  0% {
    opacity: 1;
    transform: translateY(0);
    rotate: (0deg);
  }

  15% {
    width: 12rem;
    height: 12rem;
    opacity: 0.7;
    transform: translateX(10px);
    rotate: (120deg);
  }

  

  50% {
    opacity: 0.3;
    transform: translateX(30px);
    rotate: (620deg);
  }

  75% {
    opacity: 0.5;
    transform: translateX(50px);
    rotate: (520deg);
  }
  100% {
    opacity: 0;
    transform: translateY(-1000px);
    rotate: (720deg);
  }
}

.circle-2 {
  position: absolute;
  top: -4rem;
  right: -4.125rem;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background: rgb(255,82,82);
background: linear-gradient(0deg, rgba(255,82,82,1) 0%, rgba(255,82,86,0.11808473389355745) 100%);
  animation: circleMove 10s cubic-bezier(0.4, 0, 1, 1) infinite;
  top: 5rem;
}

@keyframes circleMove {
  0% {
    opacity: 1;
    transform: translateY(0);
    rotate: (0deg);
  }

  15% {
    
    opacity: 0.7;
    transform: translateY(-50px);
    rotate: (120deg);
  }

 

  75% {
    opacity: 0.5;
    transform: translateX(-50px);
    rotate: (520deg);
  }
  100% {
    opacity: 0;
    transform: translateY(-400px);
    rotate: (720deg);
  }
}
.circle-3 {
  position: absolute;
  width: 6rem;
  opacity: 0.2;
  left: 20rem;
  height: 6rem;
  border-radius: 50%;
  background: rgb(255,82,82);
  background: linear-gradient(0deg, rgba(255,82,82,1) 0%, rgba(255,82,86,0.11808473389355745) 100%);  animation: moving3 12s linear infinite;
}

@keyframes moving3 {
  0% {
    opacity: 1;
    transform: translateY(0);
    rotate: (0deg);
  }

  100% {
    opacity: 0;
    transform: translateY(-1000px);
    rotate: (720deg);
  }
}



.circle-3 {
  margin-left: 5rem;
  opacity: 0;
}

.circle-4 {
  position: absolute;
  width: 24rem;
  height: 24rem;
  top: 17rem;
  right: 4rem;
  border-radius: 50%;
  border: 0.25rem dashed rgba(86, 22, 238, 0.2);
}
.circle-5 {
  position: absolute;
  width: 5rem;
  height: 5rem;
  opacity: 0.3;
  border-radius: 50%;
  background: var(--pale-pink);
  animation: moving2 5s linear infinite;
}

@keyframes moving2 {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  

  100% {
    opacity: 0;
    transform: translateY(-1000px);
  }
}

.circle-6 {
  position: absolute;
  width: 18.0625rem;
  height: 16.1875rem;

  border-radius: 50%;
  border: 0.25rem dashed rgba(86, 22, 238, 0.15);
}

.circle-7 {
  position: absolute;
  width: 14.375rem;
  height: 14.375rem;
  left: 47.25rem;
  top: 36.75rem;
  background: var(--pale-pink);
  border-radius: 50%;
  animation: moving7 9s linear infinite;
}

@keyframes moving7 {
  0% {
    opacity: 1;
    transform: translateY(0);
    rotate: (0deg);
  }

  100% {
    opacity: 0;
    transform: translateY(-1000px);
    rotate: (720deg);
  }
}
