@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
}

#root {
  /*   max-width: 80rem;
 
 
  text-align: center; */
  margin: 0 auto;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  font-size: 16px;

  font-weight: 400;
  background: #fff;

  color-scheme: light dark;
  color: rgba(30, 30, 30, 0.9);
  --lila-color: #e6dbff;
  --paleLila-color: rgba(86, 22, 238, 0.31);
  --purple-color: #3a07f2;

  --pale-pink: rgba(255, 82, 82, 0.3);
  --strong-pink: #f23d3d;
  --light-pink: #f25757;
  --pale-pink: rgba(255, 82, 82, 0.3);
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

/* INTERESANTE EL SHADOW AL HACER HOVER
 */
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translate(160px, 90px);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 10s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Navbar */

.hamburger {
  display: none;
}



.logo-parole {
  margin-left: -1.125rem;
  width: 8rem;
}

.nav-item {
  padding: 1rem;
  position: relative;
}

.nav-menu {
  display: flex;
  margin-right: 7rem;
  justify-content: flex-end;
  font-size: 1.125rem;
}
.nav-menu li {
  list-style: none;
}

.active-menu {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 750px;
  top: 42px;
  border-radius: 50%;
  background: rgba(255, 137, 137, 0.8);
  z-index: -1;
}

.navbar {
  position: fixed !important;
  width: 100%;
  height: 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #ffffff;
  /* position: absolute; */
  z-index: 2;
  top: 0;
  left: 0;
}

/* Title Seccion 1 */

#inicio {
  margin-bottom: 8rem;
}

.TitleContainer {
  width: 46rem;
  margin-left: 4.375rem;
  margin-top: 7rem;
  position: relative;
}

.Title {
  text-align: left;
  line-height: 4.6875rem;
  font-weight: 800;
  font-size: 3.125rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#Title-purple {
  color: var(--purple-color);
}

#Title-purple:hover {
  filter: drop-shadow(0 0 0.5em #5f3dd99c);
  transition: filter 0.5s;
}

.LineTitle {
  position: absolute;

  left: 9.0625rem;
  top: 7.75rem;
}

.TextContainer {
  position: absolute;
  width: 34.875rem;
  left: 6.625rem;
}

.TextContainer p {
  font-family: "Nunito", sans-serif;
  font-size: 1.375rem;
  line-height: 2.1875rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 1.5625rem;
}

.btns-home{
  margin-top: 11.875rem;
  margin-left: 4.5625rem;
  display: flex;
  align-items: center;
  width: 43.75rem;
}

.btnHome-1,
.btnHome-2 {
  left: 6.5rem;
  top: 39.4375rem;
  background: var(--strong-pink);
  border: 2px solid #727171;
  border-radius: 0.625rem;
  margin-right: 2rem;

  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  flex-grow: 1;
  width: 8.75rem;
  height: 2.875rem;
}
.btnHome-1:hover,
.btnHome-2:hover {
  background: var(--light-pink);
  border: 1px solid #5f3dd99c;
  filter: drop-shadow(0 0 0.5em #f07575);
  transition: filter 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.circle-1 {
  position: absolute;
  width: 10rem;
  height: 10rem;
  left: 0px;
  top: 20.3125rem;
  background: var(--pale-pink);
  border-radius: 50%;
}

.circle-2,
.circle-3 {
  position: absolute;
  width: 26.25rem;
  height: 26.25rem;
  border-radius: 50%;
  background: var(--pale-pink);
}
.circle-2 {
  left: 51.625rem;
  top: 11.6875rem;
}

.circle-3 {
  left: 57.5625rem;
  top: 18.0625rem;
}

.circle-4 {
  position: absolute;
  width: 25.3125rem;
  height: 25.3125rem;
  right: 2.5rem;
  top: 14.25rem;
  border-radius: 50%;
  border: 0.25rem dashed rgba(86, 22, 238, 0.2);
}
.circle-5 {
  position: absolute;
  width: 5rem;
  height: 5rem;
  left: 44.625rem;
  top: 22.75rem;
  border-radius: 50%;
  background: var(--pale-pink);
}

.circle-6 {
  position: absolute;
  width: 18.0625rem;
  height: 16.1875rem;
  left: 19.625rem;
  border-radius: 50%;
  border: 0.25rem dashed rgba(86, 22, 238, 0.15);
}

/* BTN seccion 1 */

.btnpurple {
  display: flex;

  cursor: pointer;
  width: 4.25rem;

  margin: 0 auto;
}

.btnpurple:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  transition: filter 0.25s;
}

/* seccion 2 - boxes */

.inicio2{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr auto 1fr;
  height: calc(100vh - 6.5rem);
  width: 74rem;
  margin: 0 auto;
}

.Box-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.9375rem 1.5rem 1.9375rem 2.3125rem;
  gap: 0.625rem;

  width: 27rem;
  height: 14rem;

  background: var(--lila-color);
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 1.5625rem;
  z-index: 1;
 
  grid-row: 1/3;
  grid-column: 1/2;
  transform: translate(2.4375rem, -1.6875rem);
}

.Box-img{
  grid-row: 1/2;
}

.Box-1 p,
.Box-2 p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 2.1875rem;
  letter-spacing: 0.06em;
}

.Box-1 span,
.Box-2 span {
  color: var(--purple-color);
  font-weight: 600;
}

.circle-7 {
  position: absolute;
  width: 14.375rem;
  height: 14.375rem;
  left: 47.25rem;
  top: 36.75rem;
  background: var(--pale-pink);
  border-radius: 50%;
}

.circle-8 {
  width: 23.75rem;
  height: 22.8244rem;
  left: 30.1875rem;
  /*  top: 53rem; 
  position: absolute; */
  border-radius: 50%;
  object-fit: cover;
  opacity: 75%;
}

.Box-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 0.625rem;
  width: 26.3125rem;
  height: 13.75rem;
 
  grid-row: 2/4;
    grid-column: 2/4;
    transform: translate(16.8125rem, -8.875rem);

  background: var(--lila-color);
  /* Box-Shadow */

  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 1.5625rem;
}

.lineHome {
  position: absolute;
  transform: translate(-1.3125rem,2.75rem);}

/* GRID  */

.grid{
  display: grid;
  grid-template-columns: auto auto 2fr;
  grid-template-rows: repeat(3, 30rem);
  width: 80%;
  margin: 0 auto;
  gap: 8rem 0rem;
}

.elem-1{
grid-row: 1/2;
grid-column: 1/2;
}

.elem-2{
  grid-row: 2/3;
grid-column: 3/4;
}

.elem-3{
  grid-row: 3/4;
grid-column: 1/2;
}


.number-section_container{
  grid-row: 1/2;
    grid-column: 3/4;
}

.number-section_container2{
  grid-row: 2/3;
  grid-column: 1/2;
}

.number-section_container3{
  grid-row: 3/4;
  grid-column: 3/4;
}

.elem-1,
.elem-2,
.elem-3{
  margin: 1rem auto;
}


/* seccion inicio 3era parte - numeros */

/* .container01,
.container02,
.container03 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  height: 29.75rem;
  width: 66rem;
  margin: 0 auto;
} */

.number-bcg {
  width: 100%;
  height: 51.625rem;
  left: 0px;
  top: 90.75rem;
}

.circle-img1 {
  width: 23.6875rem;
  height: 23.6875rem;

  border-radius: 50%;
  object-fit: cover;
  opacity: 80%;
  z-index: 2;

  outline: 5px solid #f25757;
  outline-offset: 5px;
}
.number{
  transform: translate(-113px, -120px);
}



.number-section {
  font-weight: 800;
  font-size: 12.5rem;
  line-height: 18.75rem;
  color: var(--paleLila-color);
  position: absolute;
}

.number-section_container {
  width: 32rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.number-section_title {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.1875rem;
  color: #000000;
}

.chevron-down {
  width: 3.9375rem;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
}

.number-section_text {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 2.1875rem;
  letter-spacing: 0.1em;

  color: #000000;
}

/* segunda imagen 02. */

.circle-img2 {
  width: 23.6875rem;
  height: 23.6875rem;
  border-radius: 50%;
  object-fit: cover;
  opacity: 80%;
  z-index: 2;

  outline: 5px solid #f25757;
  outline-offset: 5px;
}

.number-section2 {
  font-weight: 800;
  font-size: 12.5rem;
  line-height: 18.75rem;
  color: var(--paleLila-color);
  position: absolute;
}

.number2{
  transform: translate(-145px, -6.75rem);
}
.number-section_container2 {
  width: 34rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
 
}

.number-section_title2 {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.1875rem;
  color: #000000;
}

.number-section_text2 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 2.1875rem;
  letter-spacing: 0.1em;
  width: 34rem;
  color: #000000;
}

/* tercera imagen */

.circle-img3 {
  width: 23.6875rem;
  height: 23.6875rem;

  border-radius: 50%;
  object-fit: cover;
  opacity: 80%;
  z-index: 2;

  outline: 5px solid #f25757;
  outline-offset: 5px;
}



.number-section_container3 {
  width: 36rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.number-section_title3 {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.1875rem;
  color: #000000;
}

.number-section_text3 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 2.1875rem;
  letter-spacing: 0.1em;

  color: #000000;
}

.chevron-down3 {
  width: 3.9375rem;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
}
.number3{
  transform: translate(-143px, -8.75rem);

}

.number-section3 {
  font-weight: 800;
  font-size: 12.5rem;
  line-height: 18.75rem;
  color: var(--paleLila-color);
  position: absolute;
}


@media screen and (max-width: 1200px){
  html,
  body {
    font-size: 15px;
  }

}



@media screen and (max-width: 940px) {
  html,
  body {
    font-size: 14px;
  }

  .hamburger {
    padding-right: 0.625rem;
    cursor: pointer;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .hamburger img{
    z-index: 2;
    width: 2.3125rem;
    display: flex;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    flex-direction: column;
    justify-content: center;
    background-color: #f23d3d;
    width: 50%;
    height: 100%;
    text-align: center;
    transition: 1.4s;

    font-size: 2rem;
    color: whitesmoke;
    font-weight: 600;
    letter-spacing: 4px;
  }

  .nav-menu.active {
    left: 0;
  }


  .nav-item:hover {
    border-right: 0.375rem solid hsla(10, 100%, 66%, 0.8);
    transition: 0.5s;
  }




}


@media only screen and (max-width: 768px) {

  html,
  body {
    font-size: 12px;
  }

.btns-home{
  flex-direction: column;
  align-items: flex-start;
}

.btnpurple-container{
  margin: 2rem auto;
}

.inicio2{
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.Box-img {
  grid-row: 2/3;
  grid-column: 1/2;
  margin: 2rem auto;
}

.Box-2{
  grid-row: 2/3;
  grid-column: 2/3;
  transform: translate(-8.1875rem, 6rem);
}


}


@media only screen and (max-width: 600px) {
  html,
  body {
    font-size: 10px;
  }

  .Box-img{
    transform: translate(0.625rem, -4.0625rem);
    margin: 0;
  }

  .Box-2{
    transform: translate(-22.1875rem, 10rem);
  }

}